/* variables */
/* variables news */
/* base */
/* media queries */
/* Base Styles */
body {
  font-family: Arial; }

/* Common */
/* Navigation */
/* News */
.segelContainer .navbar-color {
  background: #ffffff;
  padding: 0; }
  .segelContainer .navbar-color .navbar-brand {
    padding: 0; }
    .segelContainer .navbar-color .navbar-brand .img-fluid {
      width: 210px; }
    .segelContainer .navbar-color .navbar-brand .navbar-toggler:active, .segelContainer .navbar-color .navbar-brand .navbar-toggler:hover, .segelContainer .navbar-color .navbar-brand .navbar-togglerfocus {
      outline: none !important;
      box-shadow: none !important; }
  .segelContainer .navbar-color .navbar-collapse .navbar-nav .nav-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem; }
    .segelContainer .navbar-color .navbar-collapse .navbar-nav .nav-link:hover {
      color: #C4132F; }

/* Media queries*/
@media screen and (min-width: 992px) {
  .navbar-brand {
    padding: 0;
    margin: 0; }
    .navbar-brand .img-fluid {
      width: 300px !important; } }

.row .newspost-1 {
  position: relative; }
  .row .newspost-1 img {
    width: 100%;
    height: auto; }

.row .newspost-2 {
  position: relative; }
  .row .newspost-2::before {
    position: absolute;
    content: '';
    width: 60%;
    height: 60%;
    top: -50px;
    left: 0;
    background: #fff;
    transform: skewY(10deg); }

.row .newspost-3 {
  position: relative; }
  .row .newspost-3::before {
    position: absolute;
    content: '';
    width: 60%;
    height: 60%;
    top: -50px;
    left: 0;
    background: #fff;
    transform: skewY(10deg); }
